body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1{
    font-family:Comic Sans MS ;
    text-align: center;
    font-size: 60px;
    color: darkblue;
}
h4{
    text-align: right;
    font-style: italic;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.paragraf1{
    color: rgb(246, 134, 53);
    text-align: center;
}
.paragraf2{
    text-align: right;
    line-height: 25px;
}
.link{
    color: aliceblue;
    text-transform: uppercase;
}
.link1{
    color: blue;
}